.landingPage-Container{
    padding: 40px;
}
.title{
    color: white;
    text-align: center;
}
.card {
    font-size: 36px;
    text-align: center;
    background-color: rgb(13, 13, 14);
    color: white;
    padding: 40px;
}
.card:hover{
    cursor: pointer;
    background: rgba(13, 13, 14, 0.815)
}
.cards {
    padding: 40px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
    gap: 1rem;
}