.landingPage-Container{
   
}

.title{
    margin-top: 40px;
    color: rgb(27, 132, 130);
    text-align: center;
}
.fa-whatsapp{
    color: rgb(21, 204, 18);
}
.infos{
    margin-top: 30px;
    color:  rgb(65, 65, 65);
    text-align: center;
    padding: 0px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.info-title{
    font-size: 30px !important;
}
.first{
    margin-top: 10px;
}
p.warning{
   padding: 10px 0px;
}
.info-item p{
    font-size: 17px;
}
.fa-heartbeat{
    color: rgb(177, 31, 31);
}
.fa-info{
    color: rgba(53, 53, 187, 0.801);
}
.fa-address-book-o{
    color: rgb(156, 108, 35);
}
.card {
    box-shadow: 5px 5px 5px 5px rgb(203, 199, 199);
    border-radius: 2px;
    font-size: 36px;
    text-align: center;
    color: rgb(63, 111, 124);
    padding: 40px;
    border: 1px solid transparent;
}
.card p{
    color: rgb(65, 65, 65);
}
.card:hover{
    cursor: pointer;
    background: rgba(169, 169, 177, 0.815)
}
.cards {
    padding: 20px 15px 20px 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
hr{
    margin:0px 10px;
    border: 0.1px solid  rgb(85, 83, 83);;
}